.top-heading {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.usr-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.usr-btn {
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 550;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.75);
}

.usr-btn:hover {
  cursor: pointer;
}

.usr-btn:focus {
  border-bottom: 4px solid #8b75fd;
  outline: none;
}

.tracks {
  display: flex;
  flex-direction: column;
}

.track {
  margin-top: 20px;
  border-radius: 3px;
  background-color: whitesmoke;
  box-shadow: 4px 4px 8px rgb(163, 177, 198, 0.6),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
}

.track:hover {
  cursor: pointer;
}

.track-div {
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  width: 25%;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.85);
}

.track-img {
  border-radius: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

#save-icon {
  font-size: 24px;
}

#save-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}
